In [29]:
import pandas as pd

df = pd.read_csv("input_data/textLine.txt",header=None)
df.columns = ['numbers','line']

In [30]:
df

      numbers                        line
0          49       this is line number 1
1          10       this is line number 2
2          39       this is line number 3
3          86       this is line number 4
4          69       this is line number 5
...       ...                         ...
9995       62    this is line number 9996
9996       70    this is line number 9997
9997       26    this is line number 9998
9998       79    this is line number 9999
9999       24   this is line number 10000

[10000 rows x 2 columns]